.container
  %h2 Sign up
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = render "devise/shared/error_messages", resource: resource
    .field
      %div
        = f.label :email
      %div
        = f.email_field :email, autofocus: true, autocomplete: "email", class: 'text'
    .field
      %div
        = f.label :password
        - if @minimum_password_length
          %em
            (#{@minimum_password_length} characters minimum)
      %div
        = f.password_field :password, autocomplete: "new-password", class: 'text'
    .field
      %div
        = f.label :password_confirmation
      %div
        = f.password_field :password_confirmation, autocomplete: "new-password", class: 'text'
    .actions
      = f.submit "Sign up", class: 'btn-primary'
  = render "devise/shared/links"
