.container
  - if article.errors.any?
    #error_explanation
      %ul
        - article.errors.full_messages.each do |msg|
          %li= msg
  = form_with(model: article, local: true) do |f|
    %div
      = f.label :title, 'タイトル'
    %div
      = f.text_field :title, class: 'text'
    %div
      = f.label :content, '内容'
    %div
      = f.text_area :content
    = f.submit '保存', class: 'btn-primary'
