<div class="container">
  <div class="tabs">
    <div class="tabs_item active">
      新着記事一覧
    </div>
    <div class="tabs_item">
      タイムライン
    </div>
  </div>

  <div class="card">
    <div class="card_image">
      <%= image_tag 'eyecatch1.png' %>
    </div>
    <div class="card_content">
      <div class="card_heart">
        <%= image_tag 'heart.svg' %>
        <span>23</span>
      </div>
      <div class="card_detail">
        <%= image_tag 'default-avatar.png' %>
        <div>
          <p>cohki0305</p>
          <p>2020/4/16</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card_image">
      <%= image_tag 'eyecatch2.png' %>
    </div>
    <div class="card_content">
      <div class="card_heart">
        <%= image_tag 'heart.svg' %>
        <span>23</span>
      </div>
      <div class="card_detail">
        <%= image_tag 'default-avatar.png' %>
        <div>
          <p>cohki0305</p>
          <p>2020/4/16</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card_image">
      <%= image_tag 'eyecatch2.png' %>
    </div>
    <div class="card_content">
      <div class="card_heart">
        <%= image_tag 'heart.svg' %>
        <span>23</span>
      </div>
      <div class="card_detail">
        <%= image_tag 'default-avatar.png' %>
        <div>
          <p>cohki0305</p>
          <p>2020/4/16</p>
        </div>
      </div>
    </div>
  </div>
</div>
