<div class="article">
  <h1 class="article_title"><%= @article.title %></h1>
  <div class="article_detail">
    <%= image_tag 'default-avatar.png' %>
    <div>
      <p>cohki0305</p>
      <p>2020/4/16</p>
    </div>
    <div class="article_detail_actions">
      <div class="dropdown">
        <%= image_tag 'actions.svg', class: 'dropbtn' %>
        <div class="dropdown-content mini">
          <a href="#">編集する</a>
        </div>
      </div>
    </div>
  </div>
  <div class="article_content">
    <%= @article.content %>
  </div>
  <div class="article_heart">
    <%= image_tag 'heart.svg' %>
  </div>
</div>
