= link_to article_path(article) do
  .card
    - if article.eyecatch.attached?
      .card_image
        = image_tag article.eyecatch
    .card_content
      .card_title
        = article.title
      .card_heart
        = image_tag 'heart.svg'
        %span= article.like_count
      .card_detail
        = image_tag article.user.avatar_image
        %div
          %p= article.author_name
          %p= article.display_created_at
