.container
  %h2 Log in
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .field
      %div
        = f.label :email, 'メールアドレス'
      %div
        = f.email_field :email, autofocus: true, autocomplete: "email", class: 'text'
    .field
      %div
        = f.label :password, 'パスワード'
      %div
        = f.password_field :password, autocomplete: "current-password", class: 'text'
    - if devise_mapping.rememberable?
      .field
        = f.check_box :remember_me
        = f.label :remember_me
    .actions
      = f.submit "Log in", class: 'btn-primary'
  = render "devise/shared/links"
