= link_to article_path(article) do
  .card
    .card_image
      = image_tag 'eyecatch1.png'
    .card_content
      .card_title
        = article.title
      .card_heart
        = image_tag 'heart.svg'
        %span 23
      .card_detail
        = image_tag article.user.avatar_image
        %div
          %p= article.author_name
          %p= article.display_created_at
